{% extends 'base.jinja' %}

{% block title %}
Data upload | BKMS: Bibliography Knows Meaningful Suggestions
{% endblock title %}

{% block description %}
Upload data as an XML file:
{% endblock description %}

{% block content %}
<form id="form-upload" class="form-search" action="/upload" method="POST" enctype="multipart/form-data">
  <div class="input-group mb-3">
    <input
      type="file"
      id="file"
      name="file"
      accept="text/xml"
      class="form-control"
      required
    />
    <button class="btn btn-primary" type="button" onclick="uploadData();">Upload</button>
  </div>
  <div id='progress-log' style="display: block;"></div>
  <script>
  function uploadData(event) {
    var formData = new FormData();
    var dataFile = document.querySelector('#file');

    var eleButton = document.querySelector('#form-upload button');
    var eleProgress = document.querySelector('#progress-log');

    eleButton.disabled = true;
    eleButton.innerHTML = `Uploading 
    <div class="spinner-border spinner-border-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>`;

    eleProgress.className = '';
    eleProgress.textContent = '';

    formData.append("file", dataFile.files[0]);

    axios.post('/upload', formData, {
      headers: {
        'Content-Type': 'multipart/form-data'
      }
    }).then(function (response) {
      eleProgress.className = 'valid-feedback';
      eleProgress.textContent = 'Success';
    }).catch(function (error) {
      eleProgress.className = 'invalid-feedback';
      eleProgress.textContent = 'Failure';
    }).then(function() {
      eleButton.disabled = false;
      eleButton.textContent = `Upload`;
    })
  }
  </script>
</form>
{% endblock content %}
